<template>
    <div :class="`task ${task.done ? 'is-done' : ''}`">
        <div class="content">{{ task.content }}</div>
        <div class="buttons">
            <button @click="toggleDone">{{ task.done ? 'Done' : 'in-progress'}}</button>
            <button @click="editTask" class="edit">Edit</button>
            <button @click="removeTask" class="delete">Delete</button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        task: '',
    },
    itemText: '',
    editIndex: false,

    //added the ability to toggle tasks as done
    methods: {
        toggleDone() {
            this.$store.commit('toggle_task', this.task)
        },
        editTask(index){
            this.$store.commit('edit_task', index)
            // this.newTask = this.$store.state.tasks[index];
            // this.editIndex = true;
            this.newTask = "Hello";
        },
        removeTask() {
            let result = confirm("Want To Delete?");
            if (result) {
                this.$store.commit('remove_task', this.task)
            }
        }
    }
}
</script>

<style>

</style>