<template>
  <main>
    <h1>Welcome To Task Board</h1>
    <p>Here You Can Create New Tasks</p>

    <!--this is were new task gets added and where basically input and button are-->
    <div class="create-task">
      <input
        type="text"
        v-model="newTask"
        placeholder="Add New Tasks Here!"
        @keypress.enter="addTask" />
      <button @click="addTask">Add</button>
    </div>

    <!--task list-->
    <div class="tasks">
      <Task
        v-for="(task, id) in $store.state.tasks"
        :key="id"
        :task="task" />
    </div>
  </main>
</template>

<script>
export default {
  name: 'IndexPage',

  data () {
    return {
      newTask: '',
    }
  },
  methods: {
    //adding new tasks
    addTask() {
      if(this.newTask) {
        if(this.newTask.trim() != '') {
          this.$store.commit('add_task', this.newTask);
          this.newTask = '';
        }
        else {
          this.newTask = '';
        }
      }
    }
  }
}
</script>
